* {
  margin: 0px:
  padding: 0px;
  /*overflow-x: hidden;*/

}
h1 {
    text-align: left;
}
h2 {
  text-align: center;
  padding-right: 50px;
}
h3 {
  border: 2px;
  border-style: dashed;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  padding-top: 11px;
}

.jumbotron {
  background-color: white;
  width: 100%;
}
.tline {
  padding-right: 50px;
  color: white;
}
.bline {
  padding-right: 35px;
  color: white;
}
.about {
width: 25%;
}
.rules {
width: 50%;
}
.game {
width: 25%;
}
.sec2 {
  padding-top: 0px;
  margin-top: 0px;
}
.i {
  /*border-style: solid;*/

}
.ping {
  border-bottom: 2px;
  border-bottom: solid;
  border-color: black;
}
p {
  text-align: center;
  margin-bottom: 0px;
}


/*.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;*/
