h1 {
    text-align: center;
}
h3 {
  border: 2px;
  border-style: dashed;;;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  text-align: center;
}
#play {
  text-align: right;
}


/*#pipong {
    float: left;
    margin-left: 100px;
}*/

.row {
height: 500px;
}

.jumbotron {
  background-color: pink;
}

}
/*.game {
  text-align: right;*/
}
/*li {
  text-align: right;
}
#output {
  text-align: right;
}*/
